<h1>Show Device</h1>

<ul>

  <li>
    <strong>Config hash:</strong>
    <%= @device.config_hash %>
  </li>
  <li>
    <strong>User:</strong>
    <%= render AcolyteTrialsWeb.UserView, "user.html", user: @device.user %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.device_path(@conn, :edit, @device) %></span>
<span><%= link "Back", to: Routes.device_path(@conn, :index) %></span>
